<link rel="stylesheet" href="static\css\style.css" />
<link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />

<section class="contact section" id="contact">
  <h2 class="section-title">Contact</h2>
  <div class="contact__container bd-grid">
    <form class="contact__form" method="POST" action="/contact">
      {% csrf_token %}
      <input type="text" id="name" name="name" placeholder="Name" class="contact__input" />
      <input type="mail" id="email" name="email" placeholder="Email" class="contact__input" />
      <textarea name="desc" id="message" cols="0" rows="10" class="contact__input"></textarea>
      <input type="submit" value="Send" class="contact__button button"/>
    </form>
  </div>
  <a href="/" class="contact__input" style="padding: 6px 5px; border-color: aliceblue; margin-left: 1020px;" > Back to Home </a>
</section>

<footer class="footer">
  <p class="footer__title">Bhavin Patil</p>
  <div class="footer__social">
      <!-- <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a> -->
      <a target="_blank" href="https://www.instagram.com/thebhavin2831/" class="footer__icon"><i
              class="bx bxl-instagram"></i></a>
      <a target="_blank" href="https://twitter.com/BhavinPatil10" class="footer__icon"><i
              class="bx bxl-twitter"></i></a>
  </div>
  <p>&#169; 2021 copyright all right reserved</p>
</footer>

<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--===== MAIN JS =====-->
<script src="static\js\main.js"></script>