<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static\css\style.css" />

    <!-- =====BOX ICONS===== -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <title>Personal Portfolio</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="/"><img style="height: 125px; width: 125px; padding-bottom: 25px;" src="static\img\logo1.png" /></a>
            </div>

            <div class="nav__menu" style="padding-bottom: 50px;" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">Skills</a>
                    </li>
                    <li class="nav__item">
                        <a href="#work" class="nav__link">Work</a>
                    </li>
                    <li class="nav__item">
                        <a href="/contact" class="nav__link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">
                    Hi,<br />I'am <span class="home__title-color">Bhavin Patil</span><br />
                    Diploma Student
                </h1>

                <a href="/contact" class="button">Contact</a>
            </div>

            <div class="home__social">
                <a target="_blank" href="https://www.linkedin.com/in/bhavin-patil-a4b856172"
                    class="home__social-icon"><i class="bx bxl-linkedin"></i></a>
                <a target="_blank" href="https://github.com/bhavinpatil" class="home__social-icon"><i
                        class="bx bxl-github"></i></a>
                <a target=" _blank" href="https://twitter.com/BhavinPatil10" class="home__social-icon"><i
                        class="bx bxl-twitter"></i></a>
                <!-- <a target="_blank" href="" class="home__social-icon"><i class='bx bxl-instagram'></i></a> -->
            </div>

            <div style="
            padding-bottom: 100px;
            padding-top: 75px;
            height: 600px;
            width: 600px;
          " class="home__img">
                <img style="border-radius: 6%" src="https://source.unsplash.com/1600x900/?programming,coding" alt="" />
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img style="height: 450px" src="https://source.unsplash.com/1600x900/?person,coding" alt="" />
                </div>

                <div>
                    <h2 class="about__subtitle">I'am Bhavin</h2>
                    <p class="about__text">
                        Welcome to My Personal Portfolio, I am a Freelance IT Student and
                        in final year of my Diploma. I also have major skills in
                        programming and web designing. If you have a project or creative
                        need that I can help with,
                        <a href="#contact">please get in touch.</a> I am happy to share my
                        knowledge with anyone.
                    </p>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Profesional Skills</h2>
                    <p class="skills__text">
                        Following are my some skills which I have learned during my
                        academics and also I have learned some extra skills by working on
                        projects.
                    </p>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-java skills__icon'></i> -->
                            <span class="skills__name">Java</span>
                        </div>
                        <div class="skills__bar skills__html"></div>
                        <div>
                            <span class="skills__percentage">75%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-html5 skills__icon'></i> -->
                            <span class="skills__name">Android Development</span>
                        </div>
                        <div class="skills__bar skills__android"></div>
                        <div>
                            <span class="skills__percentage">80%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-css3 skills__icon'></i> -->
                            <span class="skills__name">Python</span>
                        </div>
                        <div class="skills__bar skills__python"></div>
                        <div>
                            <span class="skills__percentage">70%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxl-javascript skills__icon'></i> -->
                            <span class="skills__name">Django</span>
                        </div>
                        <div class="skills__bar skills__django"></div>
                        <div>
                            <span class="skills__percentage">85%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <!-- <i class='bx bxs-paint skills__icon'></i> -->
                            <span class="skills__name">Linux</span>
                        </div>
                        <div class="skills__bar skills__linux"></div>
                        <div>
                            <span class="skills__percentage">85%</span>
                        </div>
                    </div>
                </div>

                <div style="padding-left: 100px">
                    <img src="https://source.unsplash.com/1600x900/?skills,coding" alt="" class="skills__img" />
                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Work</h2>
            <div class="container">
                <div class="card">
                    <div class="card-header"><b>
                            <h1>Face Mask and Helmet Detection</h1>
                        </b></div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>A website in django framewrok for detection of face mask and helmet, website link is not
                                provided due to some technical reasons</p>
                            <footer class="blockquote-footer"><a target="_blank"
                                    href="https://github.com/bhavinpatil/Face-Mask-and-Helmet-Detection">Source code</a>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="work__img">
                    <img src="static\img\1.png" alt="" />
                </div>
                <div class="work__img">
                    <img src="static\img\5.png" alt="" />
                </div>
                <div class="work__img">
                    <img style="height: 400px; width: 1200px;" src="static\img\3.png" alt="" />
                </div>
                <br>
                <br>
                <div class="card">
                    <div class="card-header"><b>
                            <h1>Share a Meal Application</h1>
                        </b></div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>A android application for food sharing as well as promoting, application previews
                                uploading soon</p>
                        </blockquote>
                    </div>
                </div>
                <!-- <div class="work__img">
                    <img src="static\img\1.png" alt="" />
                </div>
                <div class="work__img">
                    <img src="static\img\5.png" alt="" />
                </div>
                <div class="work__img">
                    <img style="height: 400px; width: 1200px;" src="static\img\3.png" alt="" />
                </div> -->
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">Bhavin Patil</p>
        <div class="footer__social">
            <!-- <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a> -->
            <a target="_blank" href="https://www.instagram.com/thebhavin2831/" class="footer__icon"><i
                    class="bx bxl-instagram"></i></a>
            <a target="_blank" href="https://twitter.com/BhavinPatil10" class="footer__icon"><i
                    class="bx bxl-twitter"></i></a>
        </div>
        <p>&#169; 2021 copyright all right reserved</p>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="static\js\main.js"></script>
</body>

</html>